.application-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.application-container h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.application-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 500px;
}

.application-form .form-group {
  width: 100%;
  font-size: 35px;
}

.application-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 30px;
}

.application-form input[type="text"],
.application-form input[type="file"] {
  height: 50px;
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #ccc;
  font-size: 18px; /* Adjusted font size */
  color: white; /* Changed text color */
  background-color:#3C4142; /* Light background color for better contrast */
}

.application-form input[type="text"]::placeholder {
  color: #aaa; /* Placeholder color */
}

.application-form input[type="file"] {
  color: #444; /* Text color for file input */
}

.application-form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.application-form button:hover {
  background-color: #0056b3;
}

#companyName {
  color: black; /* Ensure text in the specific input has black color */
}
